@font-face {
    font-family: fuenteTexto;
    src: url(../fuentes/DINNextW1G/dinnextw1g.otf);
}

@font-face {
    font-family: fuenteTitulos;
    src: url(../fuentes/Tungsten-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fuenteTexto', sans-serif;
}

/* VARIABLES DE COLORES */
:root {
    --azul: #1A1E2B;
    --azul-claro: #23293B;
    --azul-brillo: #070605;
    --oro: #FFCE4A;
    --oro-brillo: #FFB94A;
    --crema: #fff8e3;
    --gris: #fff;
}

.title{
    font-family: 'fuenteTexto', sans-serif;
}

.titulo {
    font-family: 'fuenteTitulos', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

.numeros {
    font-family: 'fuenteTitulos', sans-serif;
    text-transform: uppercase;
    font-size: 118px;
    letter-spacing: 0.03em;
}

.bg-azul {
    background-color: var(--azul);
    border: var(--azul);
}

.bg-azul-claro {
    background-color: var(--azul-claro);
    border: var(--azul-claroul);
}

/* CONFIGURACIÓN DE LOS TEXTOS */
.text-oro {
    color: var(--oro);
}

.text-blanco {
    color: var(--blanco);
    border: none;
}

.text-blanco:focus {
    color: var(--oro);
    border: none;
}

.text-gris {
    color: var(--gris);
}

.text-azul {
    color: var(--azul);
}

/* CONFIGURACIÓN DE LOS BOTONES */
.btn-oro {
    background-color: var(--oro);
    color: var(--azul);
}

.btn-oro:hover {
    background-color: var(--oro-brillo);
}

.btn-oro:focus {
    background-color: var(--oro-brillo);
}

.btn-oro-outline {
    border-color: var(--oro);
    color: var(--oro);
}

.btn-oro-outline:hover {
    background-color: var(--oro);
    color: var(--azul);
}

.btn-oro-outline:focus {
    background-color: var(--oro);
    color: var(--azul);
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: var(--oro);
}

.dropdown-menu a:hover {
    background-color: var(--azul);
    color: var(--oro);
}

/* NAVBAR */

.nav-link:hover {
    color: var(--oro);
}

.nav-link:focus {
    color: var(--oro);
}

.imglogoeclipse {
    height: 55px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--azul);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(--azul);
    box-shadow: inset 2px -2px 0 1.8px var(--gris);
    transition: .4s;
    animation: anima1 0.3s linear;
}

@keyframes anima1 {
    0% {
        transform: translateX(1.5em);
    }

    80% {
        transform: translateX(-0.3em);
    }

    100% {
        transform: translateX(0em);
    }
}

.switch input:checked+.slider:before {
    background-color: var(--oro);
    box-shadow: none;
    transform: translateX(1.5em);
    animation: anima 0.3s linear;
}

@keyframes anima {
    0% {
        transform: translateX(0px)
    }

    80% {
        transform: translateX(1.6em)
    }

    100% {
        transform: translateX(1.4em)
    }
}

/* SIDEBAR */

#db-wrapper {
    display: flex;
    overflow-x: hidden
}

.navbar-vertical {
    background-color: var(--azul-claro);
    bottom: 0;
    display: block;
    height: 100vh;
    margin-left: -17rem;
    max-width: 250px;
    padding: 0;
    position: fixed;
    top: 0;
    transition: margin .25s ease-out;
    width: 100%;
}

#page-content {
    margin-left: 15.625rem
}

#page-content {
    min-height: 100vh;
    min-width: 100vw;
    transition: margin .25s ease-out
}

#db-wrapper.toggled #page-content,
#db-wrapper.toggled #page-content-for-mini,
#db-wrapper.toggled .navbar-vertical,
#db-wrapper.toggled .navbar-vertical-compact {
    margin-left: 0
}

@media (max-width: 740px) {
    #page-content {
        margin-left: 0
    }

    #db-wrapper.toggled #page-content {
        margin-left: 15.6875rem
    }
}

@media (min-width: 768px) {
    .navbar-vertical {
        margin-left: 0;
    }

    #page-content {
        min-width: 0;
        width: 100%
    }

    #db-wrapper.toggled .navbar-vertical {
        margin-left: -16rem
    }
}

@media (min-width: 576px) and (max-width:767.98px) {
    #page-content {
        margin-left: 0
    }

    #db-wrapper.toggled #page-content {
        margin-left: 15.6875rem
    }
}